*{
    margin: 0;
    color: white;
}

body{
    background-color: black;
}

header{
    display: flex;
    height: 80px;
    background-color: rgb(34, 32, 32);
    justify-content: center;
    align-items: center;
}

section{
    background-color: rgb(107, 119, 119);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.connexion .formConnexion form{
    width: 350px;
    min-height: 300px;
    background-color: rgb(219, 245, 245);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label{
    margin: 20px 5px 5px 5px;
    color: black;
}

input{
    margin: 5px;
    height: 20px;
    /* padding-left: 10px; */
    border-radius: 5px;
    border: none;
    color: black;
}

input.btnSubmit{
    background-color: crimson;
    font-size: 16px;
    font-weight: 600;
    height: 28px;
    color: white;
}

section.inscription .formConnexion form{
    width: 350px;
    min-height: 300px;
    background-color: rgb(219, 245, 245);
    display: flex;
    flex-direction: column;
    padding: 10px;
}